/* Existing styles */
.logo1-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
}

.logo1-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.logo1-image {
  height: 2rem;
  width: 3rem;
}

.logo1-text {
  color: black; /* Change to match the desired color for the login page */
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
}


.login-container {
  display: flex;
  gap: 30px;
  margin: 6px auto;
  margin-top: 30px;
}

.signup-link-container {
  margin-top: 10px;
}

.signup-link {
  color: #FF5E36;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}
